CompileFlags:
  CompilationDatabase: build/current
Index:
  StandardLibrary: Yes
Completion:
  ArgumentLists: FullPlaceholders
Diagnostics:
  UnusedIncludes: Strict
  Includes:
    IgnoreHeader: ["stm32h7xx_hal.h"]
